<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nahiku/IORPromote</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nahiku</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/IORPromote</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EmployeeEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=zurich;Initial Catalog=Compulink;Persist Security Info=True;User ID=inside;Password=inside;Application Name=EntityFramework" Name="Data Source=zurich;Initial Catalog=Compulink;Persist Security Info=True;User ID=inside;Password=inside;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IORPromoteTool.Models.EmployeeEntities, IORPromoteTool" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PromoteEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=zurich;Initial Catalog=Infrastructure;Persist Security Info=True;User ID=infrastructure;Password=RunSm@rt3r;Application Name=EntityFramework" Name="Data Source=zurich;Initial Catalog=Infrastructure;Persist Security Info=True;User ID=infrastructure;Password=RunSm@rt3r;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IORPromoteTool.Models.PromoteEntities, IORPromoteTool" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TestPromoteEntities" Order="6" Enabled="False">
          <Destination Path="Data Source=NAHIKU\MSSQLSERVER12;Initial Catalog=IORdb;Persist Security Info=True;User ID=infrastructure;Password=RunSm@rt3r;Application Name=EntityFramework" Name="Data Source=NAHIKU\MSSQLSERVER12;Initial Catalog=IORdb;Persist Security Info=True;User ID=infrastructure;Password=RunSm@rt3r;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IORPromoteTool.Models.TestPromoteEntities, IORPromoteTool" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EmployeeEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EmployeeDBEntity.csdl|res://*/Models.EmployeeDBEntity.ssdl|res://*/Models.EmployeeDBEntity.msl;provider=System.Data.SqlClient;provider connection string="Data Source=zurich;Initial Catalog=Compulink;Persist Security Info=True;User ID=inside;Password=inside;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PromoteEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PromoteDBEntity.csdl|res://*/Models.PromoteDBEntity.ssdl|res://*/Models.PromoteDBEntity.msl;provider=System.Data.SqlClient;provider connection string="Data Source=zurich;Initial Catalog=Infrastructure;Persist Security Info=True;User ID=infrastructure;Password=RunSm@rt3r;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestPromoteEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TestPromoteDBEntity.csdl|res://*/Models.TestPromoteDBEntity.ssdl|res://*/Models.TestPromoteDBEntity.msl;provider=System.Data.SqlClient;provider connection string="Data Source=NAHIKU\MSSQLSERVER12;Initial Catalog=IORdb;Persist Security Info=True;User ID=infrastructure;Password=RunSm@rt3r;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>