@{
    ViewBag.Title = "Promotion FAQ";
}

<h2>Promotion FAQ</h2>

<div >
    <p class="page-question">
        What is the IOR Promotion Tool?
    </p>
    <p class="page-answer">
        The IOR Promotion Tool provides managers the opportunity to specify what is important, that might otherwise not get done because of items other people think are urgent, but are actually not as important.
        Once a request is promoted, it is elevated in the <a href="https://laserfiche.leankit.com/Boards/View/39048680">Infrastructure task board</a> 
        and will receive immediate attention as soon as resources are made available. 
    </p>
    <p class="page-question">
        Who is eligible to promote requests?
    </p>
    <p class="page-answer">
        Anyone who is a manager is eligible to promote requests. 
    </p>
    <p class="page-question">
        Why can't I see the link on someone else's machine?
    </p>
    <p class="page-answer">
        The tool grabs the active directory credentials of the user currently logged into the windows session; so it is only possible to use the tool when a manager is logged in to the machine.
    </p>
    <p class="page-question">
        How often can I promote a request?
    </p>
    <p class="page-answer">
        There is no limit to the number or frequency of promotions at this time. 
        Note that raising the priority of a request through promotion will effectively lower the priority of all other requests. 
        Please be considerate of others when promoting requests.
    </p>
    <p class="page-question">
        How do I check the status of promoted requests?
    </p>
    <p class="page-answer">
        The @Html.ActionLink("Promotion History", "History", "PromoteCard") page displays a list of all requests that have been promoted. 
        The page also details the date that the request was promoted, the person who promoted the request, the person who submitted the request and the current status of the promoted request.
    </p>
     <p class="page-question">
        How do I promote a request?
    </p>
    <p class="page-answer">
        Click on the @Html.ActionLink("To Promotion Tool", "Index", "PromoteCard") link at the bottom of this page or the @Html.ActionLink("Promotion Tool", "Index", "PromoteCard") tab in the top right hand corner 
        to navigate to a listing of all the requests in the Infrastructure backlog. Find your request through <strong>Sorting</strong> the columns or using the <strong>Search</strong> bar on the top.
        Once you have located the request you desire to promote, click on the <strong>Promote</strong> link on the right. 
        On the confirmation page, verify that the request is the one you wish to promote and click <strong>Promote</strong>.
    </p>
</div>

<p>
    @Html.ActionLink("To Promotion Tool", "Index", "PromoteCard")
</p>