@{
    ViewBag.Title = "User Access Denied";
}

<h2>User Access Denied</h2>

<div class="page-text">
    You <strong>don't have permission</strong> to access this page. <br />
    Only managers have permission to promote cards with this tool. <br />
    Please contact Mike Wu or Kurt Rapelje for more information.
</div>
