@model IORPromoteTool.Models.PromoteCardWrapper

@{
    ViewBag.Title = "User Ineligible";
}

<h2>User Ineligible</h2>

<div class="page-text">
    You have recently promoted a card and are currently ineligible. Return in <strong>@Model.DaysToEligible</strong> day(s) for the opportunity to <strong>promote another</strong> card. <br />
    Please contact Mike Wu or Kurt Rapelje for more information.
</div>


    